#experiencia .align-content{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top:150px;
    padding-bottom:150px;
}
#experiencia h2{
    font-size: 8rem;
    word-break:break-word;
    color:#E0E0E0;
    max-width:4ch;
    place-items:center start ;
    
}
#experiencia .primeiro-paragrafo{
    font-size:1.4rem;
    font-weight:500;
    max-width:600px;
    text-align:justify;
    margin:35px 0 50px 0;
    color:#525252;
}
#experiencia strong{
    color:#000;
}
#experiencia .projetos{
    background-color: #F5F5F5;
    margin-bottom:20px;
    padding:20px;
    border-radius:5px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
    gap:20px;
}
#experiencia .projetos::before{
    content:'';
    display:inline-block;
    position:absolute;
    height:25px;
    background-color:#70DA1C;
    width:4px;
    direction: 180deg;
    top:20px;
    left:-4px;
}
#experiencia .projetos h3{
    margin-bottom:10px;
}
#experiencia .projetos p{
    color:#525252;
    font-size:0.9rem;
    text-align:justify;
}
.projetos .data-projeto{
    display:block;
    position:absolute;
    top:20px;
    left:-60px;
}
.projetos .data-projeto-maior{
    left:-90px;
}
.projetos .tecnologias{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.projetos span{
    display:inline-block;
    padding:5px 10px;
    background-color:white;
}
@media(max-width:900px){
    #experiencia .align-content{
        grid-template-columns: 1fr;
    }  
    #experiencia h2{
        font-size:6rem;
        max-width:100%;
        word-break:keep-all;
        
    }
    #experiencia .projetos::before{
        display:none;
    }
    #experiencia .data-projeto{
        position:relative;
        top:0;
        left:0;
        margin-top:20px;
    }
}
@media(max-width:680px){
    #experiencia h2{
        font-size:4rem;
    }
}
@media(max-width:575px){
    #experiencia .projetos{
        grid-template-columns: 1fr;
    }
}
@media(max-width:490px){
    #experiencia h2{
        font-size:3rem;
    }  
    #experiencia .primeiro-paragrafo{
        text-align:left;
    }
}
@media(max-width:375px){
    #experiencia h2{
        font-size:2.2rem;
    }
    #experiencia .primeiro-paragrafo{
        font-size:1.1rem;
    }
}
@media(max-width:300px){
    #experiencia h2{
        font-size:2rem;
    }
}