footer{
    background-color:#000;
    color:#fff;
}
footer .align-content{
    padding-top:70px;
    padding-bottom:70px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items:center start;
    gap:50px;
}
footer .col-1{
    color:#9F9FA3;
    font-size:1.4rem;
}
footer .col-2{
    font-size:2.5rem;
    font-weight:bold;
}
footer .col-2 p{
    margin:20px 0;
}
footer .col-2 p:nth-child(3){
    text-decoration:underline;
}
footer #copyright{
    grid-column:span 2;
}
@media(max-width:820px){
    footer .align-content{
        grid-template-columns: 1fr;
    }   
    footer #copyright{
        grid-column:1;
    }
    footer .col-2{
        font-size:1.8rem;
    }
}
@media(max-width:330px){
    footer .col-2{
        font-size:1.3rem;
    }  
}