@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:inherit;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:inherit;
}
body{
    font-family:'Poppins';
}
a{
    text-decoration: none;
}
ul{
    list-style-type:none;
}
.align-content{
    max-width:1300px;
    padding-left:40px;
    padding-right:40px;
    margin-left:auto;
    margin-right:auto;
}
@media(max-width:400px){
    .align-content{
        padding-left:20px;
        padding-right:20px;
    }
}