header{

}
header .align-content{
    display:flex;
    place-content:center space-between;
    flex-wrap:nowrap;
    align-items:center;
    position:relative;
    padding-top:40px;
    padding-bottom:40px;
}
#container-logo img{
    width:100%;
    display:block;
}
header ul{
    display:flex;
    gap:40px;
    font-size:1.1rem;
    align-items:center;
}
header li a{
    display:block;
    transition-duration:0.3s;
}
header li a::after{
    content:'';
    height:4px;
    width:0;
    display:block;
    margin:0 auto;
    background-color:#70DA1C;
    transition-duration:0.4s;
}
header li a:hover::after{
    width:100%;
}
#mobile-bttn{
    display:none;
}
@media(max-width:900px){
    header .align-content{
        /* flex-direction:column;
        gap:20px;
        place-content:stretch center; */
    }
    header nav{
        display:none;
    }
    .mobile ul{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: start;
        align-items:stretch;
        margin-top:100px;
        gap:0px;
    }
    nav.mobile{
        display:flex;
        position:fixed;
        color:#fff;
        justify-content: center;
        background-color:#fff;
        top:0;
        bottom:0;
        right:0;
        z-index:1;
        box-shadow:-5px 0 40px 0 #0000006e;
        padding:20px;
    }
    
    .mobile a{
        color:#000;
        padding:10px 50px;
        text-align:center;
        border-top:1px solid #000;
    }
    .mobile ul li:last-child a{
        border-bottom:1px solid #000;
    }
    .mobile a:hover{
        color: #70DA1C;
    }
    #mobile-bttn.ativo{
        rotate:90deg; 
    }
    #mobile-bttn{
        display:block;
        border:none;
        cursor:pointer;
        padding:5px;
        background-color:transparent;
        border-radius:5px;
        transition-duration:.3s;
        position:fixed;
        z-index:2;
        right:40px;
        background-color:white;
    }
    #mobile-bttn span{
        width:25px;
        height:3px;
        display:block;
        background-color:#000;
    }
    #mobile-bttn span:not(#mobile-bttn span:last-child){
        margin-bottom:4px;
    }
    .mobile li a::after{
        display:none;
    }
}
@media(max-width:400px){
    #mobile-bttn{
        right:20px;
    }
}