
header{
    padding:40px;
}
header .align-content{
    display:flex;
    place-content:center space-between;
    flex-wrap:wrap;
}
header nav{
    display:flex;
    flex-wrap: nowrap;
    align-content:center;
}
header ul{
    display:flex;
    gap:40px;
    font-size:1.1rem;
    align-items:center;
}
header li a{
    transition-duration:0.3s;
}
header li a::after{
    content:'';
    height:4px;
    width:0;
    display:block;
    margin:0 auto;
    background-color:#70DA1C;
    transition-duration:0.4s;
}
header li a:hover::after{
    width:100%;
}
@media(max-width:730px){
    header .align-content{
        /* place-content:space-between center; */
        flex-direction: column;
        place-items:center;
        gap:20px;
    }
    header ul{
        flex-wrap:wrap;
        justify-content: center;
        
    }
    header li:hover{
        color:inherit; 
    }
}